@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}
/* html, body {
max-width: 100%;
    overflow-x: hidden;
} */

.logo{
    width: 100px;
    height: 100px;
}
.banner_a{

    display: block;
    text-decoration: none;
    color: black;
    
}
.banner_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner_logo{
    margin: 0px 0px 10px 10px;
}
